<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzh.h2mybatis.mappers.PersonMapper">
    <insert id="addPerson" parameterType="com.zzh.h2mybatis.entities.PersonEntity" useGeneratedKeys="true" keyProperty="id">
        insert into PERSON (ID, FIRSTNAME, LASTNAME) values (#{id}, #{firstName}, #{lastName})
    </insert>

    <select id="getPersons" resultType="com.zzh.h2mybatis.entities.PersonEntity">
        select ID as id, FIRSTNAME as firstName, LASTNAME as lastName
        from PERSON
    </select>
</mapper>